<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "in.kitnahua.weather"
	version   = "2.7.0">
	<name>Weather</name>
	<description>
		Weather Forecast
	</description>
	<author email="rahulthespaceman@gmail.com">
		Rahul Bohra
	</author>
	<icon src="icon.png" gap:role="default" />
</widget>
